/*IMPORT UTILITIES*/
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li a {
  text-align: none;
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin: 0 0.7375rem;
  padding: 0.1875rem;
  transition: 0.5s;
}

header .navbar .barranav {
  background-color: rgba(40, 119, 119, 0.509);
  position: fixed;
  top: 0;
  padding-bottom: 0.5rem;
}

.navbar li a:hover {
  color: #1CB698;
}

.logo img {
  width: 6rem;
  border-radius: 16.375rem;
}

.btn:hover {
  background-color: #2F4858;
}

.btn {
  color: white;
}

/*seccion inicio*/
.contenedor-inicio {
  background-color: #E8FFF3;
}

.galeriaFotos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.galeriaFotos img {
  width: 20%;
}

.galeriaFotos img {
  gap: 0.3125rem;
  overflow: hidden;
  border-radius: 0.3125rem;
  box-shadow: 0.3125rem 0.5rem 0.75rem #E8E884;
  transition: 0.5s;
  object-fit: cover;
}

.galeriaFotos img:hover {
  transform: scale(1.2);
}

.contenedor-inicio .tituloppal, .contenedor-inicio h2 {
  color: #2F4858;
  font-size: 2.5rem;
  text-align: center;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 1.25rem;
  padding: 1.25rem 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0.125rem 0.125rem 0.3125rem #183D3D;
}

.contenedor-inicio h2 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 2rem;
}

.ProductosDestacados {
  width: 100%;
  background: #E8FFF3;
  display: grid;
  row-gap: 2.5rem;
}
.ProductosDestacados h3 {
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-shadow: 0.3125rem 0.5rem 0.75rem #E8E884;
  text-transform: capitalize;
}

.galeriaProductosDest {
  border-color: #1a4141;
  padding-bottom: 1.2rem;
  justify-content: center;
  row-gap: 1.5rem;
}

.carDest {
  box-shadow: 0.3125rem 0.5rem 0.75rem #E8E884;
  width: 18rem;
}

.carDest img {
  width: 100%;
  object-fit: cover;
}

.imgcarDest {
  border-radius: 0.625rem;
}

.preciocard {
  font-weight: 700;
  font-size: 1.5rem;
}

.btncarrito {
  background: rgba(40, 119, 119, 0.509);
}

.btncarrito:hover {
  color: white;
}

del {
  color: lightcoral;
  font-size: 1rem;
}

/*SECTION PRODUCTOS*/
.productos, .contacto, .mayoristas, .tramichitips {
  color: #2F4858;
  font-size: 2.5rem;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 0.125rem 0.125rem 0.3125rem #183D3D;
  height: auto;
  width: 100%;
}

.contenedorProductos {
  width: 100%;
  display: grid;
  column-gap: 1.5125rem;
  row-gap: 2.5rem;
  padding-top: 1.25rem;
  padding-bottom: 2.25rem;
}

.contenedorProductos .galeriaProductos {
  row-gap: 2.5rem;
}

.contenedorProductos .row .cards:hover {
  background-color: #CDFBE4;
  transition: 1s;
}

.imgProductos {
  width: 18rem;
  border-radius: 0.625rem;
}
.imgProductos img {
  width: 100%;
  object-fit: cover;
}

.contenedorProductos .cards {
  padding-bottom: 1rem;
}
.contenedorProductos .cards .precio {
  color: #2F4858;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
}
.contenedorProductos .cards .precio p {
  font-family: sans-serif;
  color: black;
  font-style: normal;
  font-weight: bold;
}

.contenedorProductos .precio:hover {
  transform: scale(1.2);
}

/*SECTION TRAMICHITIPS*/
.tramichitips {
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
}

.tituloTips, .tituloTipsCurado {
  color: black;
  font-size: 2rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-shadow: 0.125rem 0.125rem 0.3125rem #4be225;
  text-transform: capitalize;
}

.tituloTipsCurado {
  padding-top: 2rem;
}

.armadoMate, .curadoMate {
  background: rgba(40, 119, 119, 0.509);
  border-radius: 2%;
  padding: 1rem 1.2rem 1rem 1.2rem;
}
.armadoMate ol, .curadoMate ol {
  color: black;
  border-color: yellow;
  text-align: center;
  font-size: 1.5625rem;
  font-weight: 300;
  padding: 1.625rem;
  align-items: center;
}
.armadoMate ol li, .curadoMate ol li {
  padding-top: 1.25rem;
}

.imgtramichitips, .videito {
  width: 100%;
  display: flex;
  justify-content: center;
}
.imgtramichitips img, .videito img {
  width: 50%;
  overflow: hidden;
  border-radius: 0.3125rem;
  box-shadow: 0.3125rem 0.5rem 0.75rem #E8E884;
  transition: 0.5s;
  object-fit: cover;
}

.videito {
  padding-bottom: 1.25rem;
}

/*SECCION MAYORISTAS*/
.mayoristas {
  width: 100%;
}

.infoMayorista {
  background-color: white;
  box-shadow: 0.3125rem 0.5rem 0.75rem #E8E884;
}

.infoMayorista:hover {
  transform: scale(1.2);
  transition: transform 2s;
}

.mapita {
  padding-top: 1.25rem;
  overflow: hidden;
  justify-content: center;
}

.tituloMayorista, .tituloContacto {
  color: #4BE225;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 1.75rem;
}

.flecha {
  height: 10%;
  width: 10%;
}
.flecha img {
  object-fit: cover;
}

.masInfo {
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-shadow: 0.125rem 0.125rem 0.3125rem #4be225;
}

.enviosMayorista {
  background-color: #E8FFF3;
  text-align: center;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  text-shadow: 0.125rem 0.125rem 0.3125rem yellow;
}
.enviosMayorista .imgcamion {
  padding-left: 1.25rem;
}
.enviosMayorista .envios {
  padding-top: 1.25rem;
}

.enviosMayorista img {
  width: 4rem;
  height: 4rem;
}

.enviosMayorista {
  animation-name: animacion;
  animation-duration: 5s;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animacion {
  0% {
    background-color: #E8FFF3;
    left: 0;
  }
  50% {
    background-color: #E8E884;
    left: 0;
  }
  100% {
    background-color: #E8FFF3;
    right: 0;
  }
}
.imgcamion {
  animation-name: animacioncamion;
  animation-duration: 3s;
  position: relative;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes animacioncamion {
  0% {
    left: 0;
  }
  50% {
    left: 2.7rem;
  }
  100% {
    right: 0;
  }
}
/*SECCION CONTACTO*/
.contacto {
  width: 100%;
}

.seccionContacto {
  background: #1e2326;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.seccionContacto h4 {
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.formularioContacto {
  background: #1e2326;
  display: flex;
  justify-content: center;
  padding-top: 2.5rem;
}

.formularioContacto label {
  display: flex;
  justify-content: left;
}

.formularioContacto input, .formularioContacto textarea {
  text-align: left;
  width: 100%;
  padding: 1.125rem;
  border: none;
  margin-bottom: 1.25rem;
  background-color: #1e2326;
  color: #fff;
  font-size: 1.125rem;
}

.tituloContacto {
  color: white;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.seccionContacto .botonEnviar {
  cursor: pointer;
  border: 0.125rem solid #fff;
  width: fit-content;
  display: block;
  margin: 1.25rem auto;
  padding: 0.625rem 6.25rem;
  font-size: 1rem;
  color: #fff;
  z-index: 10;
}

.seccionContacto .botonEnviar:hover {
  background-color: #1CB698;
  transition: 1s;
}

footer {
  width: 100%;
  background-color: #CDFBE4;
  padding: 2.25rem 1.25rem;
}

.parrafoFooter {
  color: rgb(45, 57, 57);
  font-size: 1.575rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.6125rem;
}

.redes a img {
  width: 1.25rem;
}

.licencia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

@media (max-width: 1024px) {
  header .navbar .barranav {
    top: 0;
  }
  .botonBuscar {
    width: fit-content;
  }
  .contenedorProductos .galeriaProductos {
    column-gap: 1.5rem;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .infoMayorista:hover {
    transform: scale(1);
  }
  @keyframes animacioncamion {
    0% {
      left: 0;
    }
    50% {
      left: 0;
    }
    100% {
      right: 0;
    }
  }
  header .navbar .barranav {
    background-color: rgba(40, 119, 119, 0.963);
  }
  footer {
    background-color: rgba(40, 119, 119, 0.963);
  }
  .parrafoFooter {
    color: white;
  }
}
@media (max-width: 320px) {
  .masInfo {
    font-size: 1.125rem;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {
  background-color: white;
  text-align: center;
  box-shadow: 0.3125rem 0.5rem 0.75rem #E8E884;
  border-radius: 0.625rem;
  overflow: hidden;
}

/* boton de whatsapp*/
.float {
  position: fixed;
  width: 3.75rem;
  height: 3.75rem;
  bottom: 2.5rem;
  right: 2.5rem;
  background-color: #25d366;
  color: #FFF;
  border-radius: 3.125rem;
  text-align: center;
  font-size: 1.875rem;
  box-shadow: 0.125rem 0.125rem 0.1875rem #999;
  z-index: 100;
}

.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
