@media (max-width: 992px) {
    .infoMayorista:hover{
        transform: scale(1);
    }
    header .navbar .barranav {
        background-color: rgba(40, 119, 119, 0.963);
    }
    footer {
        background-color:  rgba(40, 119, 119, 0.963);
    }
    .parrafoFooter {
        color: map-get($colores, contacto );
    }
}