$colores:  (
    nav:black,
    tit: #2F4858,
    precioytips: #4BE225,
    contacto: white,
    footers: #208C64,
);

$font-sizes: (
    1: 2.75rem,
    2: 2.1875rem,
    3: 2rem,
    parr: 1.75rem,
    item: 1.5625rem,
    4: 2rem,
    formcontacto: 1.125rem,
    boton: 1rem,
    futer: 1.875rem,
    botonwp: 1.875rem,
)