header {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            list-style: none;
            li a {
                text-align: none;
                color: map-get($colores, contacto);
                text-decoration: none;
                font-weight: bold;
                margin: 0 .7375rem;
                padding: .1875rem;
                transition: .5s;
            }
        }
    }
}
header .navbar .barranav {
    background-color: $BackgroundPrincipal;
    position: fixed;
    top: 0;
    padding-bottom: 0.5rem;
}

.navbar li a:hover{
    color: #1CB698;
}

.logo img {
    width: 6rem;
    border-radius: 16.375rem;
    
}
.btn:hover {
    background-color: map-get($colores, tit );
}
.btn {
    color: map-get($colores, contacto );
}

